img{
height:300px;
width: 300px;
};
.region-container {
text-align:center;
margin:50px;
border:1px solid #cccccc;
transition: all 0.3s ease;

}
.region-container:hover{
border:1px sold #bd0e0e;
}

.progress
{
    margin: 10px;
}